body{
    background-color:#3A606E;
    color: white;
}

.navbar {
    background-color: black;
    height: 50px;
    width: 100%;
    text-align: center;
}

.navbarItem {
    background-color: grey;
    width: 150px;
    height: inherit;
    float: right;
}

.navbarText {
    text-decoration: none;
    color: white;
}

.navbarSelected {
    border: none;
    height: 50px;
    background: lightblue;
}

.body {
    color: teal; 
}