body{
    background-color: white;
    color: black;
}

.navbar {
    background-color: lightblue;
    height: 50px;
    width: 100%;
    text-align: center;
}

.navbarItem {
    background-color: teal;
    width: 150px;
    height: inherit;
    float: right;
}

.navbarText {
    text-decoration: none;
    color: white;
}

.navbarSelected {
    border: none;
    height: 50px;
    background: lightblue;
}

.fireInfo {
    width: 100%;
    height: 700px;
}

.application {
   width: 50%;
   height: 600px; 
   float: left;  
}

.pictures {
    Background-color: white;
    width: 50%;
    height: 500px;
    float: right;
}
